<center>
<img src="https://drive.google.com/uc?id=1f1gGVI-rxcHjA90WEGNvvtSXF1pAxQwg" alt="Fasilkom UI" width="300"/>

CSGE603130 â€¢ Kecerdasan Artifisial dan Sains Data Dasar

Semester Genap 2022/2023

Fakultas Ilmu Komputer, Universitas Indonesia

##**Lab 1: *Introduction to Data Science Tools***

###**Tenggat Waktu: 18 Februari 2023, 23.55 WIB**
</center>

### **Ketentuan:**

1. Dokumen template lab dengan format .ipynb dan dataset (jika dibutuhkan) telah disediakan di SCeLe
2. Jalankan kode pada dokumen .ipynb dan perhatikan dengan saksama apa yang potongan kode tersebut lakukan beserta dengan keluarannya. Jawablah **pertanyaan** yang disisipkan pada potongan program yang diberikan.
3. Dokumen Jupyter Notebook yang telah dilengkapi dengan jawaban dikumpulkan dengan format penamaan **Kelas_LabX_NPM_Nama.ipynb** . Contoh: F_Lab1_1806205773_Abdurrafi Arief.ipynb
4. Kumpulkan dokumen tersebut pada submisi yang telah disediakan di SCeLe sesuai dengan kelas masing-masing sebelum **Tenggat Waktu: 18 Februari 2023, 23.55 WIB**. Keterlambatan pengumpulan akan dikenakan pinalti.
5. Lab ini dirancang sebagai **tugas mandiri**. Plagiarisme tidak diperkenankan dalam bentuk apapun. Adapun kolaborasi berupa diskusi (tanpa menyalin maupun mengambil jawaban orang lain) dan literasi masih diperbolehkan dengan mencantumkan kolaborator dan sumber.

## **Pernyataan Integritas**

Wajib diisi. Tanpa pernyataan integritas submisi akan dikenakan pinalti.

In [ ]:
# Isi dengan data diri Anda
NAMA = "IQBAL PAHLEVI AMIN"
KELAS = "B"
NPM = "2106752281"

# Isi dengan NPM teman yang berdiskusi dengan Anda  
KOLABORATOR = ['2106750742', '2106752224']

# Isi dengan sumber referensi yang Anda gunakan dalam mengerjakan
REFERENSI = ['scikit-learn.org', 'geeksforgeeks', 'pandas.pydata.org']

In [ ]:
PERNYATAAN_INTEGRITAS = "Saya, %s dari kelas %s dengan NPM %s, menyatakan bahwa seluruh jawaban pada pekerjaan ini murni saya kerjakan sendiri.\n\
Saya tidak mencontek jawaban, memberikan jawaban, maupun menyalin dari sumber manapun.\n \
\n\
Jika saya melanggar pernyataan tersebut, saya siap menerima konsekuensi apapun yang diberikan.\n   \
(%s)" % (NAMA, KELAS, NPM, NAMA)

print(PERNYATAAN_INTEGRITAS)

Saya, IQBAL PAHLEVI AMIN dari kelas B dengan NPM 2106752281, menyatakan bahwa seluruh jawaban pada pekerjaan ini murni saya kerjakan sendiri.
Saya tidak mencontek jawaban, memberikan jawaban, maupun menyalin dari sumber manapun.

Jika saya melanggar pernyataan tersebut, saya siap menerima konsekuensi apapun yang diberikan.
   (IQBAL PAHLEVI AMIN)

# **Python Refresher**

Pada tutorial mata kuliah ini, kita akan menggunakan bahasa pemrograman Python. Jika kamu butuh penyegaran kembali mengenai Python, kamu dapat mengunjungi channel Youtube pada link berikut: **https://bit.ly/pymooc-id**. 
Selamat belajar!

# **A. Pengenalan Berkas IPYNB**

IPYNB adalah singkatan dari "IPython Notebook". IPYNB merupakan sebuah format berkas yang digunakan oleh aplikasi web IPython untuk membuat dan berbagi dokumen interaktif yang mengandung kode, teks, gambar, dan visualisasi lainnya. IPython Notebook memungkinkan Anda menjalankan kode secara interaktif, memvisualisasikan data, dan membuat catatan dan dokumentasi yang terkait dengan kode Anda. Berkas IPYNB dapat disimpan dan dibagikan sehingga mudah bagi orang lain untuk mengakses dan melihat kode dan analisis Anda. Berkas IPYNB memiliki ekstensi .ipynb.

Berkas IPYNB adalah dokumen yang digunakan pada [__Jupyter Notebook__](https://jupyter.org/install) yang berisi _environment_ interaktif untuk pemrograman menggunakan bahasa __Python__ (juga Julia dan R). Satu berkas IPYNB terdiri atas satu atau lebih ___cell___ yang dapat digunakan untuk menjalankan kode secara interaktif maupun menulis catatan dalam sintaks ___markdown___. Selain Jupyter Notebook, berkas IPYNB dapat dibuka dan dibuat menggunakan aplikasi daring seperti [__Google Colab__](https://colab.research.google.com/) atau [__Kaggle__](https://www.kaggle.com/notebooks).

Kode ditulis dalam sebuah _cell_. Setiap _cell_ dapat dieksekusi dengan kombinasi _shortcut_ __shift + enter__ ataupun tombol ___run___ pada tiap _cell_. Setiap _cell_ dapat dieksekusi secara mandiri dan tidak perlu dijalankan berurutan, kecuali jika ada variabel global yang diinisiasi pada _cell_ yang belum dijalankan. _Cell_ kode Python yang dieksekusi akan menjalankan kode secara _interpreted_ dan menampilkan _output_ (jika ada) di bawah _cell_.

In [ ]:
# Ini adalah contoh cell untuk kode Python.

var = "Hello, world!"
print(var)
var

Hello, world!

'Hello, world!'

### Ini adalah contoh _cell_ untuk teks _markdown_.

_Markdown_ adalah _markup language_ yang digunakan untuk membuat teks berformat menggunakan _text editor_ biasa. Dengan _markdown_, kita dapat membuat berbagai gaya teks, seperti _heading_, _hyperlink_, tabel, _list_, dan masih banyak lagi. Contoh berbagai sintaks _markdown_ dapat dilihat pada [panduan dari Markdownguide.org](https://www.markdownguide.org/cheat-sheet/) dan [wiki oleh Adam Pritchard](https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet).

## Instalasi _library_ pada Jupyter Notebook

Jupyter Notebook secara bawaan menyediakan _kernel_ Python, namun terkadang kita membutuhkan _library_ eksternal yang tidak termasuk dalam bawaan Python. Instalasi _library_ dapat dilakukan dengan perintah <code>__pip install _nama-package___</code>. Contoh kita ingin menggunakan _library_ __Pandas__, maka kita dapat melakukan instalasi seperti di bawah ini.

In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

_Kernel_ yang digunakan pada Jupyter Notebook, seperti pada _kernel_ biasa, dapat menerima perintah sistem. Selain perintah __pip__, berbagai perintah lain, seperti __git__ atau __apt__, juga dapat dijalankan jika _kernel_-nya mendukung. Silakan eksplorasi mandiri lebih lanjut pemanfaatannya, baik pada  perangkat lokal (seperti Jupyter Notebook) ataupun pada perangkat _cloud_ (seperti Google Colab).

# **B. Pengenalan Pandas**

[__Pandas__](https://pandas.pydata.org/docs/) adalah _library_ untuk bahasa Python yang menyediakan struktur data dan fungsi-fungsi yang mempermudah pemrosesan dan analisis data. **Struktur data utama dalam Pandas** adalah ***Series*** dan ***DataFrame***. Series adalah sebuah array satu dimensi yang memiliki label, sementara DataFrame adalah tabel yang memiliki baris dan kolom yang memiliki label.

Dengan Pandas, kita dapat melakukan tugas seperti:

1. Mengolah dan mengubah data seperti menambah atau menghapus kolom, menambahkan atau menghapus baris
2. Menggabungkan dan menggabungkan data dari sumber yang berbeda
3. Menghapus dan mengisi data yang hilang
4. Menggrupkan dan memanipulasi data berdasarkan kriteria tertentu
5. Melakukan statistik deskriptif seperti menghitung rata-rata, standar deviasi, dan lainnya

Pandas memiliki integrasi dengan berbagai sumber data seperti SQL, Excel, CSV, dan lainnya, sehingga mudah untuk memuat data dan memanfaatkannya untuk melakukan analisis.

Secara umum, Pandas adalah library yang sangat berguna bagi siapa saja yang bekerja dengan data dan membutuhkan alat untuk memanipulasi, memanalisis, dan memvisualisasikan data dengan mudah dan efisien.

In [ ]:
# import library
import pandas as pd

## **Objek *Series***

*Series* adalah struktur data 1-dimensi pada *library* Pandas. Series memiliki *index* yang memungkinkan kita untuk melakukan *indexing* dan *slicing data*, seperti *array*. Series dapat menyimpan berbagai jenis data seperti integer, *string*, *float*, dan lain-lain.

Untuk informasi lebih detail mengenai Struktur Data *Series* pada Pandas, dapat dilihat pada [link berikut](https://pandas.pydata.org/docs/reference/series.html)

Salah satu cara yang umum digunakan dalam membuat objek *Series* adalah sebagai berikut,

```python
>>> pd.Series(data)
```

Dimana argumen ``data`` merupakan data yang akan disimpan di dalam *Series* dan dapat berupa numpy *array*, *dictionary*, atau *list*.

Untuk informasi yang lebih detail, dapat dilihat pada [link berikut](https://pandas.pydata.org/docs/reference/api/pandas.Series.html)

In [ ]:
#Membuat objek Series dari list 
series = pd.Series([0.25, 0.5, 0.75, 1.0])
series

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

Seperti yang dapat dilihat, Series memiliki dua atribut, yaitu nilai dan indeks. Kedua hal tersebut dapat kita akses dengan atribut ``values`` dan ``index``.

In [ ]:
series.values

array([0.25, 0.5 , 0.75, 1.  ])

In [ ]:
series.index

RangeIndex(start=0, stop=4, step=1)

Sama seperti list Python, kita dapat melakukan *indexing* maupun *slicing data* pada *Series*.

In [ ]:
series[1]

0.5

In [ ]:
series[1:3]

1    0.50
2    0.75
dtype: float64

## **Objek *DataFrame***

*DataFrame* adalah salah satu struktur data utama dalam *library* Pandas pada Python. Struktur ini mirip dengan tabel atau *spreadsheet* yang memiliki baris dan kolom. Setiap kolom memiliki nama dan tipe data yang berbeda-beda, seperti integer, *string*, atau *float*. Setiap baris memiliki indeks unik yang digunakan untuk mengidentifikasi baris secara unik.

*DataFrame* memungkinkan kita untuk menyimpan dan memanipulasi data yang berbeda-beda dan memiliki fitur-fitur seperti:
1. Memuat data dari berbagai sumber seperti file CSV, Excel, SQL, dan lainnya.
2. Menambah atau menghapus kolom dan baris.
3. Mengurutkan dan memfilter data berdasarkan kriteria tertentu.
4. Melakukan operasi matematika pada kolom.
5. Menggabungkan data dari sumber yang berbeda.
6. Menghapus dan mengisi data yang hilang.
7. Melakukan statistik deskriptif seperti menghitung rata-rata, standar deviasi, dan lainnya.

*DataFrame* membuat tugas-tugas seperti pembersihan data, pengolahan data, dan analisis data menjadi lebih mudah dan efisien dibandingkan dengan menggunakan struktur data lain seperti *list* atau *dictionary*. Oleh karena itu, *DataFrame* sangat berguna bagi siapa saja yang bekerja dengan data dan membutuhkan alat untuk memanipulasi, memanalisis, dan memvisualisasikan data.

Untuk informasi lebih detail mengenai Struktur Data *DataFrame* pada Pandas, dapat dilihat pada [link berikut](https://pandas.pydata.org/docs/reference/frame.html)

### **Membuat Objek *DataFrame***

#### **Cara Umum Pertama**

Salah satu cara yang umum digunakan dalam membuat objek *DataFrame* adalah sebagai berikut,

```python
>>> pd.DataFrame(data)
```

Dimana argumen ``data`` merupakan data yang akan disimpan di dalam *DataFrame* dan dapat berupa objek *Series*, *list of dictionary*, *dictionary of Series objects* atau NumPy *array*.

Untuk informasi lebih detail, dapat dilihat pada [link berikut](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)

##### **Dari Sebuah Objek *Series***

In [ ]:
country = pd.Series(['Indonesia', 'Korea Selatan', 'Jepang'])
country

0        Indonesia
1    Korea Selatan
2           Jepang
dtype: object

In [ ]:
pd.DataFrame(country, columns=['Country'])

         Country
0      Indonesia
1  Korea Selatan
2         Jepang

##### **Dari Sebuah *list of dictionary***

In [ ]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

##### **Dari Sebuah *dictionary of Series objects***

In [ ]:
country = pd.Series(['Indonesia', 'Korea Selatan', 'Jepang'])
country

0        Indonesia
1    Korea Selatan
2           Jepang
dtype: object

In [ ]:
capital = pd.Series(['Jakarta', 'Seoul', 'Tokyo'])
capital

0    Jakarta
1      Seoul
2      Tokyo
dtype: object

In [ ]:
pd.DataFrame({'Country': country,
              'Capital': capital})

         Country  Capital
0      Indonesia  Jakarta
1  Korea Selatan    Seoul
2         Jepang    Tokyo

##### **Dari Sebuah NumPy *array***

In [ ]:
import numpy as np

pd.DataFrame(np.random.rand(3, 1),
             columns=['Random Value'],
             index=['a', 'b', 'c'])

   Random Value
a      0.802464
b      0.814136
c      0.459169

#### **Cara Umum Kedua**

Cara lain yang umum digunakan dalam membuat objek *DataFrame* adalah sebagai berikut,

```python
>>> pd.read_csv(filepath_or_buffer)
```

Dimana argumen ``filepath_or_buffer`` merupakan String yang menyimpan path menuju file CSV yang akan dibentuk menjadi sebuah *DataFrame*. String tersebut dapat berupa URL.

Untuk informasi lebih detail, dapat dilihat pada [link berikut](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)

##### **Menggunakan *Path Remote***

In [ ]:
# Membuat DataFrame dengan membaca data dari suatu berkas

df1 = pd.read_csv(
    'https://archive.ics.uci.edu/ml/machine-learning-databases/glass/glass.data', # Path menuju berkas dataset
    header=None # Baris pertama dataset bukanlah header
)
display(df1) # Menampilkan DataFrame

      0        1      2     3     4      5     6     7     8    9   10
0      1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0   1
1      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0   1
2      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0   1
3      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0   1
4      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0   1
..   ...      ...    ...   ...   ...    ...   ...   ...   ...  ...  ..
209  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0   7
210  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0   7
211  212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0   7
212  213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0   7
213  214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0   7

[214 rows x 11 columns]

##### **Menggunakan *Path* Lokal**

**NOTE**: Untuk menggunakan *path* lokal, pastikan kamu telah men-*download* dan mengetahui *relative path* file dataset dengan file ipynb ini.

Apabila kamu menggunakan Google Colab, kamu juga harus meng-*upload* file dataset kamu ke *files* yang terdapat pada Google Colab. Contoh:

![Screenshot 2023-02-06 at 09.20.31.png]()

In [ ]:
# Membuat DataFrame dengan membaca data dari suatu berkas

df2 = pd.read_csv(
    'glass.csv', # Path menuju berkas dataset
    header=None # Baris pertama dataset bukanlah header
)
display(df2) # Menampilkan DataFrame

      0        1      2     3     4      5     6     7     8    9   10
0      1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0   1
1      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0   1
2      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0   1
3      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0   1
4      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0   1
..   ...      ...    ...   ...   ...    ...   ...   ...   ...  ...  ..
209  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0   7
210  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0   7
211  212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0   7
212  213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0   7
213  214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0   7

[214 rows x 11 columns]

##### **Memberikan Nama Kolom pada *DataFrame***

In [ ]:
# Kita akan menggunakan data yang berasal dari remote untuk langkah-langkah berikutnya
df = df1

In [ ]:
df.columns = ['Id number', 'RI', 'Na', 'Mg',
              'Al', 'Si', 'K', 'Ca',
              'Ba', 'Fe', 'Type-of-glass']
df

,Id number,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type-of-glass
0,1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.0,1
1,2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.0,1
2,3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.0,1
3,4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.0,1
4,5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...
209,210,1.51623,14.14,0.00,2.88,72.61,0.08,9.18,1.06,0.0,7
210,211,1.51685,14.92,0.00,1.99,73.06,0.00,8.40,1.59,0.0,7
211,212,1.52065,14.36,0.00,2.02,73.42,0.00,8.44,1.64,0.0,7
212,213,1.51651,14.38,0.00,1.94,73.61,0.00,8.48,1.57,0.0,7
213,214,1.51711,14.23,0.00,2.08,73.36,0.00,8.62,1.67,0.0,7

### **Deskripsi Dataset "glass"**

* `Id number`: 1 to 214
* `RI`: refractive index
* `Na`: Sodium (unit measurement: weight percent in corresponding oxide, as are attributes 4-10)
* `Mg`: Magnesium
* `Al`: Aluminum
* `Si`: Silicon
* `K`: Potassium
* `Ca`: Calcium
* `Ba`: Barium
* `Fe`: Iron
* `Type-of-glass`: (class attribute)

Sumber data set: https://archive.ics.uci.edu/ml/datasets/Glass+Identification

### **Melihat Cuplikan Data dari Objek *DataFrame***

Gunakan _method_ <code>head()</code> untuk melihat hanya 5 baris pertama dari _DataFrame_. Parameter dalam <code>head()</code> juga dapat diubah sesuai jumlah baris yang ingin ditampilkan. Gunakan <code>tail()</code> untuk melihat 5 baris terakhir.

In [ ]:
df.head()

,Id number,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type-of-glass
0,1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.0,0.0,1
1,2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.0,0.0,1
2,3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.0,0.0,1
3,4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.0,0.0,1
4,5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.0,0.0,1

In [ ]:
# Menampilkan 7 baris pertama
df.head(7)

,Id number,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type-of-glass
0,1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.0,0.00,1
1,2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.0,0.00,1
2,3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.0,0.00,1
3,4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.0,0.00,1
4,5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.0,0.00,1
5,6,1.51596,12.79,3.61,1.62,72.97,0.64,8.07,0.0,0.26,1
6,7,1.51743,13.30,3.60,1.14,73.09,0.58,8.17,0.0,0.00,1

In [ ]:
# Menampilkan 5 baris terakhir
df.tail()

,Id number,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type-of-glass
209,210,1.51623,14.14,0.0,2.88,72.61,0.08,9.18,1.06,0.0,7
210,211,1.51685,14.92,0.0,1.99,73.06,0.00,8.40,1.59,0.0,7
211,212,1.52065,14.36,0.0,2.02,73.42,0.00,8.44,1.64,0.0,7
212,213,1.51651,14.38,0.0,1.94,73.61,0.00,8.48,1.57,0.0,7
213,214,1.51711,14.23,0.0,2.08,73.36,0.00,8.62,1.67,0.0,7

Sekarang kita telah berhasil membuka dataset "glass" sebagai objek *DataFrame*. Ini baru langkah awal sebelum kita menjelajahi objek *DataFrame* lebih lanjut.

![storsint-glass-clear-glass__0640889_pe700133_s5.avif]()

Sumber gambar: https://www.ikea.com/us/en/images/products/storsint-glass-clear-glass__0640889_pe700133_s5.jpg

### **Menampilkan Atribut dan Informasi Statistik Umum dari Objek *DataFrame***

Menampilkan dimensi _DataFrame_ dengan atribut <code>shape</code>

In [ ]:
print("Dimensi dari df adalah", df.shape)
print("df terdiri atas {} baris dan {} kolom.".format(df.shape[0], df.shape[1]))

Dimensi dari df adalah (214, 11)
df terdiri atas 214 baris dan 11 kolom.

Menampilkan tipe data tiap kolom dengan atribut <code>dtypes</code>

In [ ]:
df.dtypes

Id number          int64
RI               float64
Na               float64
Mg               float64
Al               float64
Si               float64
K                float64
Ca               float64
Ba               float64
Fe               float64
Type-of-glass      int64
dtype: object

Menampilkan statistik umum tiap kolom dengan _method_ <code>describe()</code>. *By default*, _method_ ini hanya untuk data numerik

In [ ]:
df.describe()

,Id number,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type-of-glass
count,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000
mean,107.500000,1.518365,13.407850,2.684533,1.444907,72.650935,0.497056,8.956963,0.175047,0.057009,2.780374
std,61.920648,0.003037,0.816604,1.442408,0.499270,0.774546,0.652192,1.423153,0.497219,0.097439,2.103739
min,1.000000,1.511150,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,54.250000,1.516522,12.907500,2.115000,1.190000,72.280000,0.122500,8.240000,0.000000,0.000000,1.000000
50%,107.500000,1.517680,13.300000,3.480000,1.360000,72.790000,0.555000,8.600000,0.000000,0.000000,2.000000
75%,160.750000,1.519157,13.825000,3.600000,1.630000,73.087500,0.610000,9.172500,0.000000,0.100000,3.000000
max,214.000000,1.533930,17.380000,4.490000,3.500000,75.410000,6.210000,16.190000,3.150000,0.510000,7.000000

In [ ]:
# Deskripsi statistik untuk suatu kolom
df['Ba'].describe()

count    214.000000
mean       0.175047
std        0.497219
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        3.150000
Name: Ba, dtype: float64

Menghitung jumlah elemen tidak ___null___ tiap kolom dengan _method_ <code>count()</code>

In [ ]:
print("Count untuk df\n", df.count())

Count untuk df
 Id number        214
RI               214
Na               214
Mg               214
Al               214
Si               214
K                214
Ca               214
Ba               214
Fe               214
Type-of-glass    214
dtype: int64

Dapat dilihat di atas bahwa setiap kolom pada df memiliki nilai pada 214 baris, namun tidak mutlak berarti tidak ada nilai *null*. Pemeriksaan dan penanganan nilai *null* dibahas pada sub-bagian "Menangani *missing values*".

### **Mengakses Kolom dan/atau Baris Suatu Objek *DataFrame***

#### **Mengakses Kolom dengan *Square Bracket***

Kita dapat mengakses kolom *DataFrame* seperti mengakses indeks pada *array* atau *list*, yaitu dengan *Square Bracket*, baik sebagai *Series* maupun *DataFrame* baru.

In [ ]:
# Mengakses kolom sebagai Series
df_ca_1 = df['Ca']
print("Tipe dari objek:", type(df_ca_1))
df_ca_1

Tipe dari objek: <class 'pandas.core.series.Series'>

0      8.75
1      7.83
2      7.78
3      8.22
4      8.07
       ...
209    9.18
210    8.40
211    8.44
212    8.48
213    8.62
Name: Ca, Length: 214, dtype: float64

In [ ]:
# Mengakses kolom sebagai DataFrame
df_ca_2 = df[['Ca']]
print("Tipe dari objek:", type(df_ca_2))
df_ca_2

Tipe dari objek: <class 'pandas.core.frame.DataFrame'>

       Ca
0    8.75
1    7.83
2    7.78
3    8.22
4    8.07
..    ...
209  9.18
210  8.40
211  8.44
212  8.48
213  8.62

[214 rows x 1 columns]

In [ ]:
# Mengakses lebih dari 1 kolom sebagai DataFrame
df_ca_ba = df[['Ca', 'Ba']]
df_ca_ba

       Ca    Ba
0    8.75  0.00
1    7.83  0.00
2    7.78  0.00
3    8.22  0.00
4    8.07  0.00
..    ...   ...
209  9.18  1.06
210  8.40  1.59
211  8.44  1.64
212  8.48  1.57
213  8.62  1.67

[214 rows x 2 columns]

#### **Mengakses Kolom dengan Operator dot(.)**

Akses terhadap __tepat satu__ kolom juga dapat dilakukan dengan operator __dot__ (.) dengan syarat kolom memiliki nama (tidak menggunakan indeks bilangan _default_). Nama kolom tidak boleh menggunakan nama atribut dari objek _DataFrame_. Nama kolom yang dapat diakses dengan __dot__ juga tidak boleh mengandung karakter-karakter yang dilarang dalam nama variabel Python.

In [ ]:
# Mengakses kolom dengan operator dot
display(df.Fe)

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
209    0.0
210    0.0
211    0.0
212    0.0
213    0.0
Name: Fe, Length: 214, dtype: float64

In [ ]:
# Mengakses kolom dengan karakter yang dilarang
try:
    display(df.Type-of-glass)
except Exception as e:
    print('Terjadi exception:', e)
    print('Error terjadi karena "df.Type-of-glass" dianggap lima token terpisah, yaitu "df.Type", "-", "of", "-", dan "glass".')

Terjadi exception: 'DataFrame' object has no attribute 'Type'
Error terjadi karena "df.Type-of-glass" dianggap lima token terpisah, yaitu "df.Type", "-", "of", "-", dan "glass".

#### **Mengakses Kolom dan/atau Baris dengan fungsi `loc` atau `iloc`**

Kita dapat mengakses baris (dan kolom) _DataFrame_ menggunakan <code>__loc__</code> atau <code>__iloc__</code>. <code>loc</code> mengakses indeks berdasarkan label dari baris atau kolom, sedangkan <code>iloc</code> mengakses indeks berdasarkan posisi dalam bilangan bulat. <code>loc</code> juga menerima _range_ secara inklusif.

##### **Mengakses Baris**

In [ ]:
# Mengakses baris 0 sampai dengan 3 menggunakan loc
df.loc[0:3]  # range inklusif

,Id number,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type-of-glass
0,1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.0,0.0,1
1,2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.0,0.0,1
2,3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.0,0.0,1
3,4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.0,0.0,1

In [ ]:
# Mengakses baris 0 sampai dengan 3 menggunakan iloc
df.iloc[0:4] # range eksklusif

,Id number,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type-of-glass
0,1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.0,0.0,1
1,2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.0,0.0,1
2,3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.0,0.0,1
3,4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.0,0.0,1

##### **Mengakses Kolom**

In [ ]:
# Mengakses kolom sebagai Series dengan loc
df_ri_1 = df.loc[:,'RI']
print("Tipe dari objek:", type(df_ri_1))
df_ri_1

Tipe dari objek: <class 'pandas.core.series.Series'>

0      1.52101
1      1.51761
2      1.51618
3      1.51766
4      1.51742
        ...
209    1.51623
210    1.51685
211    1.52065
212    1.51651
213    1.51711
Name: RI, Length: 214, dtype: float64

In [ ]:
# Mengakses kolom sebagai DataFrame dengan loc
df_ri_2 = df.loc[:,['RI']]
print("Tipe dari objek:", type(df_ri_2))
df_ri_2

Tipe dari objek: <class 'pandas.core.frame.DataFrame'>

          RI
0    1.52101
1    1.51761
2    1.51618
3    1.51766
4    1.51742
..       ...
209  1.51623
210  1.51685
211  1.52065
212  1.51651
213  1.51711

[214 rows x 1 columns]

In [ ]:
# Mengakses lebih dari 1 kolom dengan loc
df.loc[:,['RI', 'Na']]

          RI     Na
0    1.52101  13.64
1    1.51761  13.89
2    1.51618  13.53
3    1.51766  13.21
4    1.51742  13.27
..       ...    ...
209  1.51623  14.14
210  1.51685  14.92
211  1.52065  14.36
212  1.51651  14.38
213  1.51711  14.23

[214 rows x 2 columns]

In [ ]:
# Mengakses kolom sebagai Series dengan iloc
df_ri_3 = df.iloc[:,1]
print("Tipe dari objek:", type(df_ri_3))
df_ri_3

Tipe dari objek: <class 'pandas.core.series.Series'>

0      1.52101
1      1.51761
2      1.51618
3      1.51766
4      1.51742
        ...
209    1.51623
210    1.51685
211    1.52065
212    1.51651
213    1.51711
Name: RI, Length: 214, dtype: float64

In [ ]:
# Mengakses kolom sebagai DataFrame dengan iloc
df_ri_4 = df.iloc[:,[1]]
print("Tipe dari objek:", type(df_ri_4))
df_ri_4

Tipe dari objek: <class 'pandas.core.frame.DataFrame'>

          RI
0    1.52101
1    1.51761
2    1.51618
3    1.51766
4    1.51742
..       ...
209  1.51623
210  1.51685
211  1.52065
212  1.51651
213  1.51711

[214 rows x 1 columns]

In [ ]:
# Mengakses lebih dari 1 kolom dengan iloc
df.iloc[:,[1,2]]

          RI     Na
0    1.52101  13.64
1    1.51761  13.89
2    1.51618  13.53
3    1.51766  13.21
4    1.51742  13.27
..       ...    ...
209  1.51623  14.14
210  1.51685  14.92
211  1.52065  14.36
212  1.51651  14.38
213  1.51711  14.23

[214 rows x 2 columns]

##### **Mengakses Baris dan Kolom**

In [ ]:
# Mengakses baris 0 - 3, namun hanya kolom Ca & Ba saja, menggunakan loc
df.loc[0:3, ["Ca", "Ba"]]

     Ca   Ba
0  8.75  0.0
1  7.83  0.0
2  7.78  0.0
3  8.22  0.0

In [ ]:
# Mengakses baris 0 - 3, namun hanya kolom Ca & Ba saja, menggunakan iloc
df.iloc[0:4, 7:9]

     Ca   Ba
0  8.75  0.0
1  7.83  0.0
2  7.78  0.0
3  8.22  0.0

##### **Indexing secara spesifik**

In [ ]:
# Memasukkan indeks spesifik menggunakan loc dan iloc
print(df.loc[1,"Type-of-glass"])
print(df.iloc[1,10])

1
1

_Indexing_ juga dapat dilakukan tanpa menggunakan <code>loc</code> maupun <code>iloc</code>, dengan urutan indeks dimulai dari kolom, kemudian indeks dari baris.

In [ ]:
# Indexing tanpa menggunakan loc maupun iloc
print(df["Type-of-glass"][1])

1

## **Menangani *Missing Values***

Nilai _null_ atau "_missing values_" adalah informasi yang diisi dengan _null_ atau tidak diisi. Hal ini dapat terjadi karena informasi tersebut memang tidak diberikan (namun ada), sulit dicari, atau memang tidak ada. _Missing values_ juga dapat tersimpan sebagai "NA" atau "NaN".

In [ ]:
# Menampilkan jumlah missing values tiap kolom
print("Count missing values untuk df\n", df.isnull().sum())

Count missing values untuk df
 Id number        0
RI               0
Na               0
Mg               0
Al               0
Si               0
K                0
Ca               0
Ba               0
Fe               0
Type-of-glass    0
dtype: int64

Dapat dilihat di atas bahwa pada df tidak ditemukan nilai _null_. Selanjutnya kita coba membaca dataset baru pada berkas '`list_of_animes.csv`' yang dilampirkan di SCELE.

### **Deskripsi Dataset "list of animes"**
* `anime_id`: myanimelist.net's unique id 
* `name`: full name 
* `type`: type of anime
* `episodes`: number of episodes
* `rating`: average rating out of 10

Diadaptasi dari dataset: https://www.kaggle.com/datasets/CooperUnion/anime-recommendations-database

In [ ]:
df2 = pd.read_csv('list_of_animes.csv')

# Menampilkan jumlah missing values tiap kolom
print("Count missing values untuk df2\n", df2.isnull().sum())

Count missing values untuk df2
 anime_id      0
name          0
type         26
episodes      0
rating      230
dtype: int64

Dapat dilihat di atas bahwa ada kolom `type` dan `rating` yang memiliki nilai *null*. Hal tersebut ditandai sebagai "NaN" pada *DataFrame* jika ditampilkan seperti di bawah.

In [ ]:
# Menampilkan DataFrame df2
df2.head()

   anime_id                             name   type episodes  rating
0     10995             Ganbare!! Nattou-san     TV        4    5.75
1     29800                   Urameshi Denwa  Movie        1    4.02
2     23721                      Carino Coni     TV       26    6.93
3     29491               Kappa no Suribachi  Movie        1    5.00
4     34051  Akiba&#039;s Trip The Animation    NaN  Unknown     NaN

Ada beberapa pendekatan untuk menangani _missing values_, berikut pendekatan yang umum digunakan: 
* Mengisi *missing values* dengan nilai tertentu menggunakan *method* `fillna()`
* Menghapus (*drop*) baris atau kolom yang mengandung *missing values*. Gunakan `dropna()` untuk menghapus **baris** yang mengandung *missing values*, dan `dropna(axis='columns')` untuk menghapus **kolom** yang mengandung *missing values*.

Contoh-contoh di bawah akan berfokus pada kolom `type`.

### **Menggunakan `fillna()` dengan nilai 'Unknown'**

In [ ]:
df2_fill_type = df2.copy() 
df2_fill_type['type'] = df2_fill_type['type'].fillna('Unknown')
df2_fill_type.head(5)

   anime_id                             name     type episodes  rating
0     10995             Ganbare!! Nattou-san       TV        4    5.75
1     29800                   Urameshi Denwa    Movie        1    4.02
2     23721                      Carino Coni       TV       26    6.93
3     29491               Kappa no Suribachi    Movie        1    5.00
4     34051  Akiba&#039;s Trip The Animation  Unknown  Unknown     NaN

### **Menggunakan `dropna()` untuk menghapus *baris* yang mengandung *missing values***

In [ ]:
df2_drop_row = df2.copy()
df2_drop_row = df2_drop_row.dropna()
df2_drop_row.head(5)

   anime_id                       name     type episodes  rating
0     10995       Ganbare!! Nattou-san       TV        4    5.75
1     29800             Urameshi Denwa    Movie        1    4.02
2     23721                Carino Coni       TV       26    6.93
3     29491         Kappa no Suribachi    Movie        1    5.00
5     33074  Lupin III (2015) Specials  Special        2    7.34

### **Menggunakan `dropna()` untuk menghapus *kolom* yang mengandung *missing values***

In [ ]:
df2_drop_column = df2.copy()
df2_drop_column = df2_drop_column.dropna(axis=1)
df2_drop_column.head(5)

   anime_id                             name episodes
0     10995             Ganbare!! Nattou-san        4
1     29800                   Urameshi Denwa        1
2     23721                      Carino Coni       26
3     29491               Kappa no Suribachi        1
4     34051  Akiba&#039;s Trip The Animation  Unknown

## **Pertanyaan Pandas**

Jawab setiap pertanyaan pada _cell_ di bawah _cell_ pertanyaan. Jawaban boleh lebih dari 1 _cell_ dan juga kombinasi antara _cell_ kode atau _markdwon_ jika memang diperlukan. Gunakan dataset `list_of_animes.csv` yang dilampirkan di SCELE untuk mengerjakan soal-soal berikut.

In [ ]:
# Imports
import pandas as pd

### **Nomor 1**

1. Buka dataset `list_of_animes.csv` sebagai *DataFrame* dan tampilkan **8 baris terakhir**.

In [ ]:
# Jawaban no. 1
df = pd.read_csv('list_of_animes.csv')
df.tail(8)

,anime_id,name,type,episodes,rating
12286,5656,PuriGorota: Uchuu no Yuujou Daibouken,OVA,1,5.07
12287,10506,Shiawase Haitatsu Taneko,TV,Unknown,6.50
12288,19747,Dakaretai Onna,OVA,2,3.43
12289,29129,Ookami Shoujo to Kuro Ouji Recap,Special,1,6.91
12290,9333,Koiâ˜†Sento,OVA,1,6.56
12291,34522,"Wake Up, Girls! Shin Shou",TV,Unknown,NaN
12292,18937,Hakken Taiken Daisuki! Shimajirou,TV,101,6.85
12293,32953,Koi ni Naritai Aquarium,Music,1,7.43

### **Nomor 2**

2. Tunjukkan **jumlah `type` unik** pada *dataset* tersebut. Kemudian, sebutkan **3 `type` yang paling banyak muncul** dan **berapa banyak kemunculan** untuk masing-masing `type` tersebut?

In [ ]:
# Jawaban no. 2
print('jumlah type unik: {}'.format(len(df['type'].unique())))

jumlah type unik: 7

In [ ]:
df['type'].value_counts()

TV         3786
OVA        3311
Movie      2348
Special    1676
ONA         659
Music       488
Name: type, dtype: int64

In [ ]:
print('3 type paling banyak adalah: TV, OVA, Movie')

3 type paling banyak adalah: TV, OVA, Movie

### **Nomor 3**

3. **Buatlah *DataFrame* baru** yang berisi hanya kolom **`name`, `type`, dan `rating`**  untuk **24 baris pertama** *DataFrame* awal. **Tampilkan *shape* dan 7 baris terakhir** *DataFrame* baru tersebut.

In [ ]:
# Jawaban no. 3
new_df = df.loc[:23, ['name', 'type', 'rating']]
new_df.shape

(24, 3)

In [ ]:
new_df.tail(7)

                                name     type  rating
17              .hack//G.U. Returner      OVA    6.91
18                 Asura Cryin&#039;       TV    7.10
19  Rokumon Tengai Mon Colle Knights       TV    6.63
20            Tamako Market Specials  Special    6.29
21             Diabolik Lovers Recap  Special    5.47
22                        Xiao Taiji       TV    5.86
23                  PeroPeroâ˜†Teacher      OVA    6.38

### **Nomor 4**

4. **Tampilkan 5 anime** dari soal nomor 3 yang memiliki *rating* terbesar. (_Hint_: Silakan eksplorasi cara mengurutkan _DataFrame_.)

In [ ]:
# Jawaban no. 4
new_df = new_df.sort_values('rating', ascending=False)
new_df.head()

                                                 name     type  rating
8                       Hellsing I: Digest for Freaks      OVA    7.86
7                              Tenchi Muyou! Ryououki      OVA    7.77
5                           Lupin III (2015) Specials  Special    7.34
15  Baka na Imouto wo Rikou ni Suru no wa Ore no x...      OVA    7.24
18                                  Asura Cryin&#039;       TV    7.10

### **Nomor 5**

5. **Tampilkan anime dari *DataFrame* awal** yang memiliki **`rating` terbesar**. (*Hint*: Silakan eksplorasi cara mengakses baris *DataFrame* dengan kondisi *boolean* menggunakan `loc`, `iloc`, atau cara lain.)

In [ ]:
# Jawaban no. 5
df = df.sort_values('rating', ascending=False)
df.loc[0, :]

anime_id                   10995
name        Ganbare!! Nattou-san
type                          TV
episodes                       4
rating                      5.75
Name: 0, dtype: object

### **Nomor 6**

6. **Tampilkan anime dari *DataFrame* awal** yang memiliki **`rating` lebih besar atau sama dengan nilai rata-rata dari kolom `rating`** dan memiliki **`type` TV**.

In [ ]:
# Jawaban no. 6
mean = df['rating'].mean()
df.loc[(df['rating'] >= mean) & (df['type'] == 'TV'), :]

       anime_id                                   name type episodes  rating
6573      30120            Spoon-hime no Swing Kitchen   TV  Unknown    9.60
868        5114       Fullmetal Alchemist: Brotherhood   TV       64    9.26
1065      28977                               GintamaÂ°   TV       51    9.25
11035      9253                            Steins;Gate   TV       24    9.17
215        9969                          Gintama&#039;   TV       51    9.16
...         ...                                    ...  ...      ...     ...
6233         69                           Cluster Edge   TV       25    6.48
2306      15119                          Senran Kagura   TV       12    6.48
1768       2153  Saint Beast: Kouin Jojishi Tenshi Tan   TV       13    6.48
1333       5600                Little El Cid no Bouken   TV       26    6.48
6704      23393              Shin Don Chuck Monogatari   TV       73    6.48

[2705 rows x 5 columns]

### **Nomor 7**

7. **Buatlah *DataFrame* baru dari *DataFrame* awal** dengan **menghapus seluruh baris** yang memiliki nilai *null* . **Tampilkan rata-rata `rating` anime** pada *DataFrame* baru tersebut.

In [ ]:
# Jawaban no. 7
new_df = df.dropna()
mean = new_df['rating'].mean()
mean

6.473901690981433

### **Nomor 8**

8. **Buatlah *DataFrame* baru dari *DataFrame* awal** dengan **mengisi seluruh nilai *null* pada kolom `rating`** dengan nilai median dari kolom tersebut. **Tampilkan rata-rata `rating` anime** pada *DataFrame* baru tersebut.

In [ ]:
# Jawaban no. 8
median = df['rating'].median()
new_df = df[['rating']].fillna(median)
new_df['rating'].mean()

6.47569952822515

### **Nomor 9**

9. **Apakah ada perbedaan nilai rata-rata** baru pada nomor 7 dan 8? **Mengapa demikian**?

**Ada**, hal ini disebabkan nilai *rating* yang kosong diisi dengan nilai yang lebih besar (nilai median) dari nilai rata-rata pada nomor 7 (rata-rata yang lama). Sehingga, apabila dihitung nilai rata-rata pada data yang baru (di nomor 8), maka hasilnya akan lebih besar dari yang sebelumnya.

# **C. Pengenalan NumPy**

[NumPy](https://numpy.org/) (Numerical Python) adalah *library* Python yang digunakan untuk melakukan komputasi numerik dan pemrosesan *array* multi-dimensi. NumPy memiliki kemampuan untuk membuat *array* n-dimensi dan  berbagai fungsi serta metode yang membantu dalam melakukan operasi matematis pada *array* tersebut, seperti melakukan operasi aljabar linear, pengolahan statistik, dan lain-lain. *Library* ini sangat berguna untuk tugas-tugas *scientific computing* dan *data analysis*.

In [ ]:
# Import Library NumPy
import numpy as np

## **NumPy Array**

### **NumPy Array Satu Dimensi**

Untuk membuat sebuah array baru, kita dapat membuat python List kemudian diubah menjadi NumPy array menggunakan fungsi <code>array()</code> yang terdapat pada NumPy

In [ ]:
# Membuat numpy array
arr = np.array([10,20,30,40,50])
arr

array([10, 20, 30, 40, 50])

In [ ]:
print(type(arr))

<class 'numpy.ndarray'>

Terdapat beberapa fungsi bawaan yang dapat digunakan untuk membuat array

In [ ]:
# Membuat array dengan nilai 0 sebanyak 5
print("np.zeros(5) : ",np.zeros(5))

# Membuat array dengan nilai 1 sebanyak 5
print("np.ones(5) : ",np.ones(5))

# Membuat array dengan nilai dalam range 1 sampai 10 dengan step sebesar 2
print("np.arange(1,10,2) : ",np.arange(1,10,2))

# Membuat array dengan nilai dalam range 1 sampai 10 sebanyak 4 dengan interval yang sama
print("np.linspace(1,10,4) : ",np.linspace(1,10,4))

np.zeros(5) :  [0. 0. 0. 0. 0.]
np.ones(5) :  [1. 1. 1. 1. 1.]
np.arange(1,10,2) :  [1 3 5 7 9]
np.linspace(1,10,4) :  [ 1.  4.  7. 10.]

### **NumPy Array Multidimensi**

Selain array 1 dimensi, NumPy juga mempunyai kemampuan untuk membuat dan memanipulasi array multidimensi dengan mudah

In [ ]:
# Membuat numpy array multidimensi / matrix
mult_arr = np.array([[1,2,3],[4,5,6],[10,20,30]])
mult_arr

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [10, 20, 30]])

## **Menampilkan Atribut dari NumPy Array**

Terdapat beberapa fungsi yang dapat digunakan untuk menampilkan atribut dari array

In [ ]:
print(mult_arr)

print()

# Menunjukkan ukuran array
print("mult_arr.size:", mult_arr.size)

# Menunjukkan jumlah dimensi atau rank dari sebuah array
print("mult_arr.ndim:", mult_arr.ndim)

# Mengetahui ukuran dari setiap dimensi array 
print("mult_arr.shape:", mult_arr.shape)

[[ 1  2  3]
 [ 4  5  6]
 [10 20 30]]

mult_arr.size: 9
mult_arr.ndim: 2
mult_arr.shape: (3, 3)

## **Memeriksa Tipe Data**

Kita dapat mengetahui tipe dari sebuah objek menggunakan fungsi `type()`

In [ ]:
# Mengecek tipe list
py_lst = [1,2,3,4,5]
print("type(py_list):", type(py_lst))

arr = np.array(py_lst)
print("type(mult_arr):", type(arr))

type(py_list): <class 'list'>
type(mult_arr): <class 'numpy.ndarray'>

Untuk memeriksa tipe data yang ada di dalam sebuah numpy array dapat menggunakan `dtype`

In [ ]:
# Mengecek tipe data dari array
arr.dtype

dtype('int64')

## **Indexing, Slicing, dan Assigning Value pada NumPy Array**

In [ ]:
arr

array([1, 2, 3, 4, 5])

In [ ]:
mult_arr

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [10, 20, 30]])

#### **Indexing pada NumPy Array**

In [ ]:
arr[0]

1

In [ ]:
# Mengakses elemen baris kedua, kolom ketiga dari sebuah array multidimensi
print(mult_arr[1,2])

# Cara lain
print(mult_arr[1][2])

6
6

#### **Slicing pada NumPy Array**

In [ ]:
# Slice elemen index 1 sampai 3
b = arr[1:4]
b

array([2, 3, 4])

In [ ]:
#Slice elemen dari baris pertama, kolom 1 serta 2
mult_arr[0][0:2]

array([1, 2])

In [ ]:
# Slice kolom kedua
mult_arr[:,1]

array([ 2,  5, 20])

#### **Assinging Value pada NumPy Array**

In [ ]:
# Mengubah elemen kelima array a menjadi 500
arr[4] = 500
arr

array([  1,   2,   3,   4, 500])

In [ ]:
# Mengubah elemen baris pertama kolom pertama array multidimensi A menjadi 100
mult_arr[0][0] = 100
mult_arr

array([[100,   2,   3],
       [  4,   5,   6],
       [ 10,  20,  30]])

#### **Indexing dan Assigning Value untuk indeks spesifik pada NumPy Array**

Kita dapat menggunakan sebuah list untuk memilih indeks secara spesifik

In [ ]:
# Membuat list berisi indeks
lst = [0,3,4]

In [ ]:
# Menggunakan list untuk memilih elemen
c = arr[lst]
c

array([  1,   4, 500])

Selain itu, kita juga bisa meng-assign elemen pada indeks di list dengan value baru

In [ ]:
# Assign value baru pada indeks di list
arr[lst] = 1234
arr

array([1234,    2,    3, 1234, 1234])

## **Operasi pada NumPy Array**

In [ ]:
x = np.array([10, 15, 20, 25, 30])
y = np.array([30, 25, 20, 15, 10])

In [ ]:
# Penjumlahan Array
print("Penjumlahan Array : ", x + y)

# Pengurangan Array
print("Pengurangan Array : ", x - y)

Penjumlahan Array :  [40 40 40 40 40]
Pengurangan Array :  [-20 -10   0  10  20]

In [ ]:
# Penjumlahan Array dengan  bilangan konstan
print("Penjumlahan dengan sebuah bilangan : ", x + 3)

# Perkalian Array dengan bilangan konstan
print("Perkalian dengan sebuah bilangan : ", x * 2)

Penjumlahan dengan sebuah bilangan :  [13 18 23 28 33]
Perkalian dengan sebuah bilangan :  [20 30 40 50 60]

In [ ]:
m = np.array([1,2])
n = np.array([0,1])

# Perkalian 2 buah array
print("Perkalian array m dan n : ", m * n)

# Dot product dari 2 buah array
print("Dot product m dan n : ", np.dot(m,n))

Perkalian array m dan n :  [0 2]
Dot product m dan n :  2

## **Operasi pada NumPy Array Multidimensi / Matrix**

Operasi pada array juga berlaku pada array multidimensi / matrix. Kita juga dapat mengetahui transpose dan inverse dari sebuah matrix melalui fungsi berikut

In [ ]:
P = np.array([[1,2],[3,4]])

# Matrix P
print(P)

# Membuat matrix transpose dari matrix P
print("Transpose : ")
print(np.transpose(P))

# Membuat matrix invers dari matrix P
print("Invers : ")
print(np.linalg.inv(P))

[[1 2]
 [3 4]]
Transpose :
[[1 3]
 [2 4]]
Invers :
[[-2.   1. ]
 [ 1.5 -0.5]]

## **Operasi Statistik pada NumPy Array**

In [ ]:
stat_arr = np.array([7, 7, 6, 6, 5, 7, 5, 9, 4, 2, 4, 2, 7, 7, 7, 3, 4, 4, 8, 7, 8, 6,
       4, 1, 1])
stat_arr

array([7, 7, 6, 6, 5, 7, 5, 9, 4, 2, 4, 2, 7, 7, 7, 3, 4, 4, 8, 7, 8, 6,
       4, 1, 1])

In [ ]:
# Nilai rata-rata dari sebuah array
print("Nilai rata-rata : ", np.mean(stat_arr))

# Nilai maksimal dari sebuah array
print("Nilai maks : ", np.max(stat_arr))

# Nilai unik dari sebuah array
print("Nilai unik : ", np.unique(stat_arr))


# Nilai suatu Percentile pada sebuah array
print("Nilai percentile 10 : ", np.percentile(stat_arr, 10))

# Sort nilai pada array
print("Sorted : ", np.sort(stat_arr))

Nilai rata-rata :  5.24
Nilai maks :  9
Nilai unik :  [1 2 3 4 5 6 7 8 9]
Nilai percentile 10 :  2.0
Sorted :  [1 1 2 2 3 4 4 4 4 4 5 5 6 6 6 7 7 7 7 7 7 7 8 8 9]

## **Pertanyaan NumPy**

Jawab setiap pertanyaan pada _cell_ di bawah _cell_ pertanyaan. Jawaban boleh lebih dari 1 _cell_ dan juga kombinasi antara _cell_ kode atau _markdown_ jika memang diperlukan.

### **Nomor 1**

In [ ]:
arr_1 = np.array([1,2,np.nan,4,5,6,7,'Test'])
arr_1.dtype

dtype('<U32')

1. Jalankan *cell* di atas! Mengapa tipe data yang didapatkan dari `arr_1.dtype` bertipe '<U32' padahal terdapat elemen yang merupakan integer dan nan?

karena pada array tersebut mengandung element ***np.nan*** yang jika dicek tipe datanya adalah float. selain itu array tersebut juga mengadung element bertipe data string. sehingga numpy akan membuat array tersebut bertipe data <U32 agar dapat mengakomodasi semua tipe data yang ada di dalam array tersebut

### **Nomor 2**

In [ ]:
U = np.array([[4,9,0],[4,1,9],[9,1,4]])
V = np.array([[5,0,4],[0,3,7],[7,0,5]])
W = np.array([[1,1,2],[2,3,1],[2,2,2]])

2. Terdapat matrix U, V, W seperti pada *cell* di atas, lakukan langkah-langkah berikut,
  1. Lakukan operasi penambahan matrix U dan V
  2. Buatlah sebuah matrix baru yang isinya akar (*square root*) dari setiap elemen dari matrix hasil pada langkah 1
  3. Lakukan operasi invers pada matrix W
  4. Terapkan perkalian matrix pada matrix hasil langkah 2 dan matrix hasil langkah 3
  5. Buatlah sebuah matrix baru yang isinya kuadrat dari setiap elemen dari matrix hasil pada langkah 4
  6. Tampilkan matrix transpose dari matrix akar tersebut! 
  
(Hint : Anda dapat menggunakan fungsi `sqrt` dan `square` dari NumPy)

Formula matematis dari soal:

$X = (U+V)$ 

$Y =$ Sebuah matrix dimana setiap elemen dalam X diakarkan

$Z = Y * W^{-1}$

$A =$ Sebuah matrix dimana setiap elemen dalam Z dikuadratkan

$Hasil Akhir = A^{T}$

In [ ]:
# Jawaban no. 2
X = U + V
Y = np.sqrt(X)
Z = np.matmul(Y, (np.linalg.inv(W)))
A = np.square(Z)
print(np.transpose(A))

[[ 1.  4. 16.]
 [ 0.  0.  9.]
 [ 4.  0. 49.]]

### **Nomor 3**

In [ ]:
arr_3 = np.array([50, 20, 10, 10, 12, 60, 105,  2, 55, 80, 88, 16, 78, 13, 34, 34, 20,
                  9, 51, 88, 19, 13,  3, 51, 45, 76, 41, 23, 34, 36, 55,  8, 55,  3,
                  8,  2, 47, 27, 66,  3, 45, 96, 69, 21, 37, 32, 41, 43, 60, 53])

3. **Kalikan** NumPy Array pada *cell* di atas **dengan 8**.  Kemudian **cari dan tampilkan** rata-rata, nilai maksimum, minimum, median, standar deviasi, variance, dan ukuran dari NumPy Array tersebut!

In [ ]:
# Jawaban no. 3
arr_3 = arr_3 * 8
print(f'rata-rata: {np.mean(arr_3)}')
print(f'nilai maksimum: {np.max(arr_3)}')
print(f'nilai minimum: {np.min(arr_3)}')
print(f'median: {np.median(arr_3)}')
print(f'standar deviasi: {np.std(arr_3)}')
print(f'variance: {np.var(arr_3)}')
print(f'ukuran: {arr_3.shape}')

rata-rata: 311.52
nilai maksimum: 840
nilai minimum: 16
median: 292.0
standar deviasi: 216.87178147467688
variance: 47033.3696
ukuran: (50,)

### **Nomor 4**

In [ ]:
arr_4 = np.array([1001. , 1326. , 1203. ,  386.1, 1297. ,  477.1, 1040. ,  577.9, 519.8,  
                  475.9,  797.8,  781. , 1123. ,  782.7,  578.3,  658.8, 684.5,  798.8, 
                  1260. , 566.3,  520. ,  273.9,  704.4, 1404. , 904.6,  912.7,  644.8, 
                  1094. ,  732.4,  955.1, 1088. ,  440.6, 899.3, 1162. ,  807.2,  869.5,  
                  633. ,  523.8,  698.8,  559.2, 563. ,  371.1, 1104. ,  545.2,  531.5,])

4. **Hitung lalu tampilkan Quartile 1** (Percentile 25) dan **Quartile 3** (Percentile 75) dari NumPy Array pada *cell* di atas

In [ ]:
# Jawaban no. 4
print(f'quartile 1: {np.percentile(arr_4, 25)}')
print(f'quartile 3: {np.percentile(arr_4, 75)}')

quartile 1: 559.2
quartile 3: 1001.0

# **D. Pengenalan Scikit-learn**

[Scikit-learn](https://scikit-learn.org/) atau **sklearn** merupakan *library* Python *open-source* yang digunakan untuk *machine learning* (pembelajaran mesin). Scikit-learn menyediakan alat dan metode yang sederhana serta efisien untuk analisis data maupun pembelajaran mesin. Scikit-learn memiliki beragam metode pembelajaran mesin termasuk klasifikasi, regresi, *clustering*, dan reduksi dimensi. *Library* ini didukung oleh NumPy, Matplotlib, dan SciPy.

## **Load Dataset**

Modul [datasets](https://scikit-learn.org/stable/datasets.html#datasets) dari sklearn menyediakan sejumlah *toy dataset*  yang dapat digunakan untuk mempelajari _machine learning_. Dataset dapat diakses dengan fungsi <code>load_[nama dataset] ()</code>, outputnya berupa dictionary scikit-learn yang berisi komponen-komponen dari dataset tersebut.

In [ ]:
# Mengakses dataset "diabetes" dari modul sklearn.datasets
from sklearn.datasets import load_diabetes

diabetes = load_diabetes()
print(diabetes.keys()) # Melihat komponen yang dimiliki oleh dataset

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

Kita dapat mengakses salah satu komponen layaknya mengakses dictionary

In [ ]:
# Mengakses komponen DESCR untuk melihat deskripsi dari dataset
print(diabetes.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

Untuk menggunakan dataset tersebut, kita dapat membuat dataframe dari komponen-komponen pada dictionary

In [ ]:
# Membuat dataframe dari komponen dataset
import pandas as pd

df = pd.DataFrame(diabetes.data, columns=diabetes.feature_names)
df['target'] = diabetes.target
df.head() # melihat 5 baris pertama

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

## **Cosine Similarity**

Salah satu fungsi dari modul <code>metrics</code> adalah untuk menghitung cosine similarity

In [ ]:
# Menghitung cosine similarity dari 2 vektor
from sklearn.metrics.pairwise import cosine_similarity # import fungsi sklearn yang dibutuhkan
import numpy as np

vec_1 = np.array([[15,31,10,9,28]])
vec_2 = np.array([[35,21,6,7,12]])
print(cosine_similarity(vec_1, vec_2))

[[0.80982829]]

## **Beberapa Modul Scikit-learn Lainnya**

Kita akan banyak menggunakan modul scikit-learn saat membuat model _machine learning_. Berikut beberapa modul yang umum digunakan:

| Nama Modul | Kegunaan | 
| ----------- | --------- | 
| sklearn.cluster | menerapkan algoritma clustering | 
| sklearn.covariance | memperkirakan covariance fitur | 
| sklearn.datasets | memuat dataset populer yang disediakan oleh scikit-learn | 
| sklearn.decomposition | menerapkan algoritma dekomposisi matriks seperti PCA |
| sklearn.ensemble | menerapkan beberapa algoritma untuk klasifikasi dan regresi |
| sklearn.feature_extraction | mengekstrak fitur dari raw data |
| sklearn.feature_selection | menerapkan algoritma seleksi fitur |
| sklearn.linear_model | menerapkan beberapa macam model linear |
| sklearn.metrics | menghitung performa model dengan berbagai macam metric |
| sklearn.model_selection | menerapkan cross-validation |
| sklearn.naive_bayes | menerapkan algoritma Naive Bayes untuk klasifikasi |
| sklearn.neighbors | menerapkan algo KNN |
| sklearn.pipeline | menerapkan beberapa langkah pembuatan model di dalam satu pipeline |
| sklearn.preprocessing | melakukan label-encoding, scaling, normalisasi, dan beberapa preprocessing lainnya | 
| sklearn.svm | menerapkan algo Support Vector Machine |
| sklearn.tree | menerapkan algo Decision Tree |


Selengkapnya dapat dilihat pada [dokumentasi modul scikit-learn](https://scikit-learn.org/stable/modules/classes.html). Pembahasan mengenai scikit-learn akan lebih lanjut dijelaskan pada sesi tutorial pada minggu keempat perkuliahan KASDD.

## **Pertanyaan Scikit-learn**

Jawab pertanyaan pada _cell_ di bawah _cell_ pertanyaan. Jawaban boleh lebih dari 1 _cell_ dan juga kombinasi antara _cell_ kode atau _markdown_ jika memang diperlukan.

### **Nomor 1**

In [ ]:
X = [[8, 3], [6, 1]]
Y = [[0, 9], [4, 3]]
Z = [[1, 7], [2, 3]]

1. Terdapat 3 matrix, X, Y dan Z, seperti di atas. **Hitunglah jarak cosine dan jarak haversine** pada ketiga matrix tersebut (X dengan Z, X dengan Y, Y dengan Z) menggunakan modul dari scikit-learn!

In [ ]:
# Jawaban no. 1
from sklearn.metrics.pairwise import cosine_distances

# cosine
print(cosine_distances(X, Z))
print(cosine_distances(X, Y))
print(cosine_distances(Y, Z))

[[0.51998858 0.18846566]
 [0.69775614 0.31605887]]
[[0.64887656 0.04026259]
 [0.83560101 0.11224547]]
[[0.01005051 0.16794971]
 [0.29289322 0.05700967]]

In [ ]:
from sklearn.metrics.pairwise import haversine_distances

# haversine
print(haversine_distances(X, Z))
print(haversine_distances(X, Y))
print(haversine_distances(Y, Z))

[[0.48665578 0.28318531]
 [1.30466676 1.65870073]]
[[1.71095962 2.28318531]
 [1.71095962 1.07851231]]
[[1.79758038 1.98184605]
 [1.98885074 2.        ]]

### **Nomor 2**

2. Load dataset iris menggunakan modul dari scikit-learn dan tampilkan nama kelas dan fitur-fitur yang ada pada dataset tersebut!

In [ ]:
# Jawaban no. 2
from sklearn.datasets import load_iris

iris = load_iris()
print('nama kelas:', iris.target_names)
print('nama fitur:', iris.feature_names)

nama kelas: ['setosa' 'versicolor' 'virginica']
nama fitur: ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

---
# **Selamat kalian telah menyelesaikan Lab 1 KASDD Genap 2022/2023! ^_^**